<div class='game'>
  {{#paper-toolbar class='header'}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
      <div class='title'>
        <div class='primary'>
          Trendify
        </div>
        {{#if currentModel.room}}
          <div class='secondary'>
            Current room: {{currentModel.room}}
          </div>
        {{/if}}
      </div>
      <div class='context'>
        {{name}}
      </div>
      {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  <div class='content'>
    <div class='body'>
      {{#if name}}
        {{#if (eq name 'host')}}
          {{game-host
            startGame=(action 'game_start')
            data=currentModel
          }}
        {{else}}
          {{game-player data=currentModel}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>

{{#if showEnrollModal}}
  {{enroll-modal
    onNameChange=(action (mut enrollName))
    onSubmit=(action 'set_name' enrollName)
    onClose=(action (mut showEnrollModal) false)
    name=enrollName
  }}
{{/if}}
