<div class="layout-column">
    <div class="title layout-column flex-10">
        <h1>Trendify</h1>
    </div>
{{#if (eq data.gameState 'lobby')}}
    <div class="lobby layout-column layout-align-center"> 
        <div class="players layout-row layout-align-center flex-50">
            {{#each data.users as |user|}}
                <span class="player flex">
                    {{user.name}}
                </span>
            {{/each}}
        </div>
        <div class="scoreboard layout-column flex-20">
            
        </div>
        {{paper-divider}}
        <div class="start-game layout-column flex-20">
            {{#paper-button class="start-button" onClick=startGame raised=true primary=true}}Start Game{{/paper-button}}
        </div>
    </div>
{{else if (eq data.gameState 'round')}}
    <div class="chart layout-column flex-10">
        {{chart-card data=data.trendData}}
    </div>
    <div class="scoreboard layout-column flex-10">
        
    </div>    
{{else if (eq data.gameState 'intermission')}}
    <div class="chart layout-column flex-10">
        {{chart-card data=data.trendData}}
    </div>
    <div class="scoreboard layout-column flex-10">
        
    </div>  
{{/if}}
</div>
{{!-- {{#if enrolled}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel")}}

    {{#paper-dialog-content}}
      <h2 class="md-title">What will your name be?</h2>
      {{paper-input placeholder="My Awesome Name" autofocus=true value=name onChange=(action (mut name))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog" "ok" dogName)}}Okay!{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}} --}}


{{yield}}