<div class="layout-column">
  {{! without contextual components }}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <img class='logo' height=30 width=25 src='/assets/tf_logo.png'/>
    <h2>
      trendify - {{room}}
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#if (eq gameState 'lobby')}}
    <div class="lobby layout-column layout-align-center">
        <div class="players layout-row layout-align-center flex-50">
            <h3>Participants</h3>
            {{#each users as |user|}}
                <span class="player flex">
                  {{user.name}}
                </span>
            {{/each}}
        </div>
        {{paper-divider}}
        <div class="start-game">
            {{#paper-button class="start-button" onClick=startGame raised=true primary=true}}Start Game{{/paper-button}}
        </div>
    </div>
{{else if (eq gameState 'round')}}
    <h1 class="challenge">{{challenge}}
      {{#if (eq gameState 'round')}}
       {{paper-progress-circular
           value=(mult
             (div (moment-diff
               (now interval=1000)
               (moment rounds.ends_at)) 1000)
               (div 100 60))
       }}
   {{/if}}
    </h1>

{{else if (eq gameState 'intermission')}}
    <div class="chart layout-column flex-10">
        <!-- {{chart-card data=trendData}} -->
    </div>
    <div class="scoreboard layout-column flex-10">
      {{#each sortedUsers as |user|}}
        <div class='score'>
          {{user.name}} - score = {{user.score}}
        </div>
      {{/each}}
    </div>
    <div class="start-game layout-column flex-20">
        {{#paper-button class="start-button" onClick=startGame raised=true primary=true}}Next Round{{/paper-button}}
    </div>
{{/if}}
</div>
{{yield}}
