<div class='game-host-content'>
  <div class='sidebar'>
    <div class='users'>
      <div class='primary'>
        Available Users
      </div>
      {{paper-divider}}
      <div class='list'>
        {{#each data.users as |user|}}
          <div class='user-item'>
            <div class='icon'>
              {{paper-icon 'face'}}
            </div>
            <div class='primary'>
              {{user.name}}
            </div>
          </div>
          {{paper-divider}}
        {{/each}}
      </div>
    </div>

    {{paper-divider}}

    <div class='admin-panel'>
      {{#if (eq data.gameState 'lobby')}}
        <div class='item'>
          {{#paper-button class="start-button" onClick=startGame raised=true primary=true}}Start Game{{/paper-button}}
        </div>
      {{/if}}
      {{#if (eq currentModel.gameState 'round')}}
        {{paper-progress-circular
            value=(mult
              (div (moment-diff
                (now interval=1000)
                (moment currentModel.rounds.ends_at)) 1000)
                (div 100 60))
        }}
      {{/if}}
    </div>
  </div>

  <div class='main'>
    {{#if (eq data.gameState 'round')}}
      <div class="challenge">
        Current word is
        <span class='current-word'>
          {{data.challenge}}
        </span>
      </div>
    {{/if}}

    {{#if (eq data.gamestate 'intermission')}}
      <div class="scoreboard">
        {{player-scores users=data.users}}
      </div>
      <div class="next-round">
        {{#paper-button class="start-button" onClick=startGame raised=true primary=true}}Next Round{{/paper-button}}
      </div>
    {{/if}}
  </div>
</div>
